@use 'base/variables' as v;
@use 'base/mixins' as m;

.busqueda{

    input, button {
        margin: 1rem 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        color: #333;
        background-color: #f5f5f5;
      }
    input:focus {
        outline: none;
        border-color: #6c63ff;
        box-shadow: 0 0 5px #6c63ff;
      }
      button:hover{
        cursor: pointer;
      }
}
.form-styles{
  input{
    background-color: v.$blanco;
    color: v.$grisOscuro;

    &:focus{
        outline: none;
        border-color: #6c63ff;
        box-shadow: 0 0 5px #6c63ff;
    }
  }
}
.boton-styles{
  background-color: darken(v.$rojo, 5);
}