@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Fuentes
$fuente_principal: 'Press Start 2P', cursive;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$amarillo: #e64e3d;
$azul: #8ec9e6 ;
$verde: #f0b7c2;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #4b4e6c;
$rojo:  #e64e3d;

$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;